@charset "utf-8";
/* CSS Document */

body{
	
margin-top:72px;	
}
.fbox
{
	text-align:center;
}
.fbox span
{
	
	font-size:60px;
}

@media(min-width:50px)
{
	h1
	{
		color:#F00;
	}
}

@media(min-width:768px)
{
	h1
	{
		color:#FC0;
	}
}


@media(min-width:992px)
{
	h1
	{
		color:#963;
	}
}


@media(min-width:1200px)
{
	h1
	{
		color:Blue;
	}
}
